
<!-- <div class="home-image"> -->
<section class="container">
	
		<div style="width: 86%; text-align: center;">
			<h5>Précipitations annuelles depuis 2007</h5>
		</div>

		<div class="barChart"
			style="width: 80%; height: 60%; display: inline-block; margin-top: 5%; margin-left: 0px">
			<canvas baseChart 
			[datasets]="barChartData" 
			[labels]="barChartLabels"
			[options]="barChartOptions"
			[legend]="barChartLegend"
			[colors]="barChartColors" 
			[chartType]="barChartType">
        	</canvas>
		</div>
