
<div [hidden]="!submitted" style="margin-left: 38.5%;">
	<h4>Ajouter avec success !!</h4>
	<button class="btn btn-success" (click)="addRelevepluie(relevepluie)">Add</button>
</div> 

<div style="width: 300px; margin-left: 38.5%;">
	<form [hidden]="submitted" #addForm="ngForm">
		<h3 class="relevepluie-detail">Ajouter une valeur</h3>
		<div class="relevepluie-dernierReleve">
			<label for="value">Dernier releve : </label> {{lastvalue.valeur}} mm
			- le: {{lastvalue.jour}}-{{lastvalue.mois}}-{{lastvalue.annee}}
		</div>
		<div class="form-group">
			<label for="date">Date</label> <input type="date" class="form-control"
				class="form-control" id="date" required
				[(ngModel)]="relevepluie.date" name="name">
		</div>

		<div class="form-group">
			<label for=valeur>Valeur</label> <input type="number" min="0" class="form-control"
				max="50" step=0.1 class="form-control" id="valeur" required
				[(ngModel)]="relevepluie.valeur" name="valeur">
		</div>

		<!-- 		<nav> -->
		<button class="btn btn-primary mr-2" (click)="goBack()">Back</button>
		<button class="btn btn-success mr-2" (click)="onAdd('Added')" [disabled]="!addForm.form.valid">Submit</button>
	</form>
</div>
		<!-- 	</nav> -->

<!-- 		<div [hidden]="submitted" style="width: 300px; margin-left: 38.5%;"> -->

<!-- 			<button routerLink="add" class="btn btn-success mr-2" role="button" -->
<!-- 				routerLinkActive="active">Ajouter</button> -->
<!-- 			<a routerLink="search" class="btn btn-info active" role="button" -->
<!-- 				routerLinkActive="active">Search</a> -->
<!-- 		</div> -->


		<div class="barChart"
	style="width: 800px; height: 300px; display: inline-block; margin-top: 2%; margin-left: 10%">
	<canvas baseChart [datasets]="barChartDataDay"
		[labels]="barChartLabelsDay" [options]="barChartOptionsDay"
		[legend]="barChartLegendDay" [colors]="barChartColorsDay"
		[chartType]="barChartTypeDay">
        	</canvas>


</div>